.main {
    text-align: center;
}

.profilePic {
    border-radius: 100px;
}

.title {
    margin: 1.5rem;
    font-size: 3em;
}

.description {
    margin: 1.5rem auto;
    font-size: 1em;
    max-width: 25rem;
}

.links {
    max-width: 30rem;
    margin: auto;
    text-align: center;
}

.links > a {
    margin: 0 1rem;
}