.container {
    max-width: 75rem;
    margin: 4rem auto;
    font-size: 1.25rem;
}

@media (max-width: 40rem) {
    .container {
        margin: 2rem 1rem;
        font-size: 1.1rem;
    }
}

@media (prefers-color-scheme: dark) {
    .container {
        background-color: black;
        color: white;
    }
}